.Font{
    font-family: "Marcellus", serif;
    color: white;
}



button {
    border-radius: 10px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    background-color: #206f06;
    color: white;
}

button:hover {
    background-color: aliceblue;
    border-color: aquamarine;
    color: darkslateblue;
}

.wapa:hover {
    transform: scale(1.02);
}

.card p {
    font-weight: bold;
    font-family: default;
}